<form [formGroup]="form">
    <div>
        <input type="text" formControlName="txt_name">      
    </div>   
    <div>
        <select formControlName='nID_def_family_member'>
            @for (obj of familyMemberDefs; track obj.ID) {
            <option [value]="obj.ID">{{ obj.txt_name }}</option>            
            }
        </select>
    </div>
    <div>
        <button type="button" (click)="submit()">Speichern</button>
        @if (currentObject().ID) {
        <button type="button" (click)="cancel()">Abbrechen</button>
        }
    </div>
</form>