table {
    border-collapse: collapse;
    table-layout: auto;
    width: auto;
}
td,th {
    vertical-align: top;
    text-align: left;
    border: 1px solid black;
    padding:2px 5px;
    white-space:nowrap;
  }


